@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.glow {
  text-shadow: 0px 0px 10px;
}

.glow-white {
  text-shadow: 0px 0px 10px #fff;
}
